.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .logo {
        position: fixed;
        top: 5px;
        width: 50%;
    }
    .block {
        text-align: center;
        .p1 {
            font-size: 34px;
        }
        .p2 {
            font-size: 48px;
        }
        h1 {
            font-size: 48px;
        }
    }
    .btn {
        position: fixed;
        bottom: 50px;
    }
}

ion-button {
    --background: #fff1f2;
    color: black;
}